<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>

<div class="container my-4">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">Liste des patients</h2>
        </div>
        <div class="card-body">
            <form method="get" th:action="@{/index}">
                <div class="mb-3">
                    <label for="keyword" class="form-label">Keyword</label>
                    <input type="text" id="keyword" name="keyword" class="form-control" th:value="${keyword}">
                </div>
                <button type="submit" class="btn btn-outline-info">Rechercher</button>
            </form>

            <table class="table mt-3">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom & Prénom</th>
                    <th>Date de Naissance</th>
                    <th>Téléphone</th>
                    <th>Malade</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${ps}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.dateNaissanec}"></td>
                    <td th:text="${p.phone}"></td>
                    <td th:text="${p.malade}"></td>
                    <td>
                        <a onclick="return confirm('Êtes-vous sûr(e)?')" class="btn btn-danger" th:href="@{/DeletePatient(nom=${p.nom})}">Supprimer</a>
                        <a class="btn btn-success" th:href="@{/UpdatePatient(id=${p.id})}">Modifier</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Navigation des pages">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="page,status:${ps}">
                        <a th:class="${status.index==currentPage ? 'page-link active' : 'page-link'}"
                           th:href="@{/index(page=${status.index},keyword=${keyword})}"
                           th:text="${status.index + 1}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>
